@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');
@import url(//db.onlinewebfonts.com/c/b4e46f03d0e03a9192dc3c2ad1a4e104?family=Cocogoose);

:root {
  --titles-color: #ec5242;
  --font-family: "Cocogoose";
  --font-color: #272a31;
  --color-white: rgb(255, 255, 255);
  --color-gray: #d3d3d3;
  --color-cards: rgba(211, 211, 211, 0.2);
  --number-family: "Lato";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 150px;
  height: 150px;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.hamburger-menu {
  text-decoration: none;
  cursor: pointer;
}

.fas.fa-bars {
  color: var(--titles-color);
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 5px;
}

.home-container {
  width: 100vw;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  background: url(src/jean-luc-catarin-0TH0YGKS1iU-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}

.titles-container {
  margin: 0.9rem 0.9rem 0 0.9rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home-subtitle {
  padding-top: 10px;
  color: var(--titles-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 100;
}

.home-title {
  color: transparent;
  font-family: var(--number-family), sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  background-image: url(src/text-background.jpg);
  background-size: cover;
  background-position-y: center;
  -webkit-background-clip: text;
}

.numbers {
  font-family: var(--number-family), sans-serif;
}

.home-description-container {
  margin: 0 0.9rem 0 0.9rem;
  padding: 20px 20px 20px 20px;
}

.home-description {
  border-radius: 2px;
  padding: 10px;
  font-size: 0.75rem;
  font-weight: 100;
  background-color: rgba(211, 211, 211, 0.6);
  font-family: var(--font-family), sans-serif;
  color: var(--font-color);
}

.home-description-date {
  margin: 0.9rem 0.9rem 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 80px;
}

.description-date {
  color: var(--color-gray);
  font-family: var(--number-family);
  font-size: 2rem;
  font-weight: 700;
}

.description-reference {
  color: var(--color-gray);
  font-family: var(--font-family);
  margin-top: 20px;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(src/backgroundb.jpg);
  background-size: cover;
  gap: 10px;
  padding-bottom: 20px;
}

.main-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 0.8rem;
}

.main-title {
  font-family: var(--font-family);
  color: var(--color-white);
  font-size: 1.5rem;
}

.line {
  width: 80px;
  height: 2px;
  background-color: var(--titles-color);
}

.main-card-container {
  width: 85%;
  padding: 1.5rem;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cards);
  border-radius: 5px;
}

.card-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.fas.fa-venus {
  color: var(--color-white);
  font-size: 2.5rem;
}

.fas.fa-mars {
  color: var(--color-white);
  font-size: 2.5rem;
}

.fas.fa-star {
  color: var(--color-white);
  font-size: 2rem;
}

.fas.fa-dumbbell {
  color: var(--color-white);
  font-size: 2rem;
}

.fas.fa-info-circle {
  color: var(--color-white);
  font-size: 2rem;
}

.card-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.card-title {
  color: var(--titles-color);
  font-family: var(--number-family), sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.card-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.card-description {
  font-size: 1.1rem;
  color: var(--color-white);
  font-family: var(--number-family);
}

.main-button-container {
  width: 65%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: var(--titles-color);
  cursor: pointer;
}

.main-button {
  text-decoration: none;
  font-family: var(--font-family);
  font-size: 1.15rem;
  color: var(--color-white);
}

.speaker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
}

.main-title-b {
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: 1.5rem;
}

.speaker-outfit-container {
  display: flex;
  width: 92%;
  height: 150px;
}

.speaker-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;
}

.speaker-name {
  font-size: 1.4rem;
  font-family: var(--font-family);
}

.speaker-subtitle {
  font-size: 0.9rem;
  font-family: var(--number-family);
  color: var(--titles-color);
}

.speaker-description {
  margin-top: 20px;
  font-size: 0.8rem;
  font-family: var(--number-family);
  color: var(--font-color);
}

.menu-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(211, 211, 211, 0.5);
  transition: all 500ms ease;
}

.fas.fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.8rem;
  color: rgb(68, 67, 67);
  cursor: pointer;
}

.menu {
  width: 75%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ec5342d0;
  transition: all 500ms ease;
}

.links-container {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: -50px;
  flex-direction: column;
  gap: 150px;
  justify-content: center;
  align-items: center;
}

.links {
  text-decoration: none;
  font-family: var(--font-family);
  font-size: 1.5rem;
  cursor: pointer;
  list-style: none;
}

.links a {
  text-decoration: none;
  color: var(--color-white);
}

.off-menu {
  display: none;
}
